<div class="container-custom">
<div id="footer-wrapper">

    <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
    <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>

    <div id="footer-first-row">

        <div id="footer-right-nav">

            <a href="tel:+359892907007"><img src="/assets/images/f-phone.png">+359892907007</a>
            <a href="mailto:bgwebstudio28@gmail.com"><img src="/assets/images/f-email.png">bgwebstudio28@gmail.com</a>
            <a href="https://www.google.com/maps?q=Бул.+Васил+Априлов+49,+Пловдив" target="_blank">
                <img src="/assets/images/f-location.png" alt="Location">
                Бул. Васил Априлов 49, гр.Пловдив
            </a>

        </div>

    </div>

    <div id="footer-second-row">

        <p>© 2025 Web Studio 28. All rights reserved.</p>

    </div>

</div>
</div>
