<div class="container-custom">
<div id="header-wrapper">

    <a href="/">
        <div id="header-logo-container"><img src="/assets/images/webstudio28-logo2.png"></div>
    </a>

    <div id="header-nav-section">

        <ul id="header-nav">

            {% for item in site.nav %}
            <a href="{{ item.url }}"><li>{{ item.label }}</li></a>
            {% endfor %}

        </ul>

        <div id="mobile-nav">

            <input type="checkbox" id="overlay-input"/>

            <label for="overlay-input" id="overlay-button"><span></span></label>

            <div id="overlay">

                <ul>

                    {% for item in site.nav %}
                    <li><a href="{{ item.url }}">{{ item.label }}</a></li>
                    {% endfor %}

                </ul>

            </div>

        </div>

    </div>

</div>
</div>

<script>
    const checkbox = document.getElementById('overlay-input');
    const body = document.body;

    function toggleBodyOverflow() {
        if (checkbox.checked) {
            body.style.overflow = 'hidden';
            body.style.height = '100vh';
        } else {
            body.style.overflow = '';
            body.style.height = '';
        }
    }

    checkbox.addEventListener('change', toggleBodyOverflow);
    toggleBodyOverflow();
</script>
