<div id="about-top-wrapper">

    <div class="container-custom">
    <div id="about-top-section">

        <div id="about-top-text-container">

            <h1>Нашата <span>мисия</span></h1>
            <p>В Web Studio 28 превръщаме твоите идеи в реалност. Ние създаваме уникални уебсайтове и приложения, които
                отразяват твоята визия и цели. <span>Всеки проект е мисия</span> – планираме внимателно, стартираме уверено.</p>

        </div>
        
        <div id="about-top-image-container">
            
            <div id="about-image-background"><img src="/assets/images/about-background.png" style="opacity: 0.8"></div>
            
            <div id="about-top-image"><img src="/assets/images/rocket.png"></div>
            
        </div>

    </div>
    </div>

</div>
