<div id="work-road-wrapper">

    <div class="container-custom">
    <div id="work-road-section">

        <div id="work-road-text-container">

            <h2><span>Процес</span> на работа</h2>
            <p>Стъпките ,които ще минем заедно ,до достигането на целта.</p>

        </div>

        <div id="work-road-cards-section">

            <div class="work-road-card">

                <div class="work-road-card-image-section">

                    <div class="work-road-card-image"><img src="/assets/images/idea.png"></div>

                </div>

                <div class="work-road-card-text">

                    <h3>Запознаване с идеята</h3>
                    <p>Първата ни среща и представянето на твоята идея.</p>

                </div>

            </div>

            <div class="work-road-card">

                <div class="work-road-card-image-section">

                    <div class="work-road-card-image"><img src="/assets/images/blueprint.png"></div>

                </div>

                <div class="work-road-card-text">

                    <h3>Проект</h3>
                    <p>Ще проектираме подредбата на сайта и ще го създадем от нулата
                        за теб.</p>

                </div>

            </div>

            <div class="work-road-card">

                <div class="work-road-card-image-section">

                    <div class="work-road-card-image"><img src="/assets/images/ready-product.png"></div>

                </div>

                <div class="work-road-card-text">

                    <h3>Готов продукт</h3>
                    <p>Най-хубавата част от процеса - когато сайта е готов!</p>

                </div>

            </div>

        </div>

    </div>
    </div>

</div>
