<div id="team-wrapper">
    
    <div id="team-section">
        
        <div id="team-heading-section">
            
            <h2>Екип</h2>
            <p>Ние сме семейство и като семейство ще подхождаме към вас.</p>
            
        </div>
        
        <div id="team-cards">
            
            <div class="member-card">
                
                <div class="member-card-left-container">
                    
                    <div class="member-card-image"><img src="/assets/images/andon.jpg"></div>
                    
                </div>
                
                <div class="member-card-right-container">
                    
                    <div class="member-card-heading-section">
                        
                        <h3>Андон Гошев</h3>
                        <p>Основател и CEO</p>
                        
                    </div>
                    
                    <div class="member-card-secondary-section">
                        
                        <p><span>Софтуерен инжинер</span> специализиран във frontend разработка, уеб архитектура и моделиране на бази данни.</p>
                        
                        <div class="member-tech-stack-section">
                            <p>Умения:</p>
                            
                            <ul>
                                
                                <li><img src="/assets/images/python.png"></li>
                                <li><img src="/assets/images/django.png"></li>
                                <li><img src="/assets/images/postgres.png"></li>
                                <li><img src="/assets/images/html.png"></li>
                                <li><img src="/assets/images/css.png"></li>
                                <li><img src="/assets/images/javascript.png"></li>
                                
                            </ul>
                            
                        </div>
                        
                    </div>
                    
                </div>
                
            </div>
            
            <div class="member-card">
                
                <div class="member-card-left-container">
                    
                    <div class="member-card-image"><img src="/assets/images/vasilena.jpg"></div>
                    
                </div>
                
                <div class="member-card-right-container">
                    
                    <div class="member-card-heading-section">
                        
                        <h3>Василена Николова</h3>
                        <p>Основател</p>
                        
                    </div>
                    
                    <div class="member-card-secondary-section">
                        
                        <p><span>Графичен дизайнер</span> с над 5 години опит. Най-силни страни - превръща сивото в цветно.</p>
                        
                        <div class="member-tech-stack-section">
                            <p>Умения:</p>
                            
                            <ul>
                                
                                <li><img src="/assets/images/photoshop.png"></li>
                                <li><img src="/assets/images/illustrator.png"></li>
                                <li><img src="/assets/images/canva.png"></li>
                                <li><img src="/assets/images/figma.png"></li>
                                <li><img src="/assets/images/procreate.png"></li>
                                
                            </ul>
                            
                        </div>
                        
                    </div>
                    
                </div>
                
            </div>
            
        </div>
        
    </div>
    
</div>
