<div id="meeting-wrapper">

    <div id="meeting-section">

        <div id="meeting-options">

            <div id="meeting-text">

                <p>Запишете час за <span>безплатна</span> консултация в нашия офис или в Google Meet</p>

            </div>

            <div id="meeting-images">
                
                <div id="meeting-bg">
                    
                    <img src="/assets/images/meetings-bg.jpg">
                    
                </div>

                <div class="meeting-image-section">

                    <a href="#" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/andon-go6ev/30min'});return false;"><img src="/assets/images/live-meeting.png"></a>
                    
                    <p>В нашия офис</p>

                </div>

                <div class="meeting-image-section">

                    <a href="#" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/andon-go6ev/30min'});return false;"><img src="/assets/images/remote-meeting.png"></a>
                    
                    <p>Google meet</p>

                </div>

            </div>

        </div>

    </div>

</div>
