<div id="home-bottom-section">
    
    <img src="/assets/images/standards1.png">

    <div id="home-bottom-roadmap-section">

        <div id="roadmap-text-section">

            <h1>От идея до реализация</h1>
            <p>Очакваме те ,за да минем пътя заедно ,който ще ни заведе до твоето онлайн присъствие.</p>
            
            <div id="roadmap-buttons-section">
                
                <button onclick="window.location.href='/pricing/'" id="road-map-link-button">Услуги</button>
                <button onclick="window.location.href='/contacts/'" id="contacts-link-button">Контакти</button>
                
            </div>

        </div>

    </div>

</div>
