<div id="hero-wrapper">

    <div class="container-custom">
    <div id="heading-and-image-section">

        <div id="hero-heading">

            <h1><span>Ти</span> и <span>твоя</span> бизнес в интернет.</h1>
            
            <p>От твоята идея до твоя нов сайт! Това което правиш най-добре е да развиваш бизнеса си ,нека ние
                създадем лицето на твоя бизнес в интернет!</p>
            
            <div id="hero-actions">

                <a href="#" class="hero-cta hero-cta-primary" onclick="Calendly.initPopupWidget({url: '{{ site.calendly.url }}'});return false;">Безплатна консултация</a>

                <a href="/projects/" class="hero-cta hero-cta-secondary">Разгледай проекти</a>

            </div>

        </div>

        <div id="hero-image">

            <img src="/assets/images/hero-bg.jpg">

        </div>

    </div>
    </div>

</div>
