<div id="secondary-section-wrapper">
    
    
    <div id="secondary-section">
        
        <div id="secondary-left-section">
            
            <img src="/assets/images/secondary1.jpg">
            
        </div>
        
        <div id="secondary-right-section">
            
            <div id="secondary-text-container">
                
                <h2>Създай лицето на бизнеса си.</h2>
                <p>Ние от WebStudio28 ще сложим бизнеса или идеята ти на картата на интернет. Така твоите клиенти ще знаят за твоя бизнес и ще са на един клик разстояние до твоите услуги и продукти.</p>
                
            </div>
            
        </div>
        
    </div>
    
    
</div>
