<div id="features-wrapper">

    <div class="container-custom">
    <div id="features-heading-section">

        <h2>Какво ще направим за теб?</h2>

    </div>

    <div id="features-cards">

        <div class="feature-card">

            <div class="feature-icon-container">

                <div class="feature-icon">
                    <img src="/assets/images/modern.png">
                </div>

            </div>

            <div class="feature-text">

                <h4>Модерен уебсайт</h4>
                <p>Стилен дизайн ,който отразява твоята концепция или бизнес.</p>

            </div>

        </div>

        <div class="feature-card">

            <div class="feature-icon-container">

                <div class="feature-icon">
                    <img src="/assets/images/responsive.png">
                </div>

            </div>

            <div class="feature-text">

                <h4>Респонсив дизайн</h4>
                <p>Вашият сайт ще изглежда перфектно на всички устройства.</p>

            </div>

        </div>

        <div class="feature-card">

            <div class="feature-icon-container">

                <div class="feature-icon">
                    <img src="/assets/images/seo.png">
                </div>

            </div>

            <div class="feature-text">

                <h4>SEO</h4>
                <p>Класиране на сайта в Google.</p>

            </div>

        </div>

        <div class="feature-card">

            <div class="feature-icon-container">

                <div class="feature-icon">
                    <img src="/assets/images/admin-panel.png">
                </div>

            </div>

            <div class="feature-text">

                <h4>Админ панел</h4>
                <p>Управлявай сайта си ,според твоите нужди.</p>

            </div>

        </div>

    </div>
    </div>

</div>
