<div id="standards-section-wrapper">

    <div class="container-custom">
    <div id="standards-section">

        <div id="standards-heading-section">

            <img src="/assets/images/standards1.png">

            <h2>Нашите стандарти</h2>
            <p>Основните принципи, които следваме, за да направим твоя сайт успешен.</p>

        </div>

        <div id="standards-section">

            <div id="standard-home-section">

                <div id="standards-home-background"><img src="/assets/images/home-background1.png"></div>

                <div id="standard-left-container">

                    <div id="standard-home"><img src="/assets/images/standard-home.png"></div>

                </div>

                <div id="standard-right-container">

                    <div id="standard-right-text-container">

                        <h3>Начална страница</h3>
                        <p>Началната страница е решаваща за всичко! Нашата работа е да привлечем клиентите ти още от
                            първото им посещение в сайта. </p>

                    </div>

                </div>

            </div>

            <hr>

            <div id="standards-auth-section">

                <div id="standards-auth-background"><img src="/assets/images/auth-background31.png"></div>

                <div id="standard-auth-left-container">

                    <div id="standard-auth-left-text-container">

                        <h3>Дизайн </h3>
                        <p>Отделяме голямо внимание към изгледа на сайта. Нашата цел е да вземем твоя бизнес или идея и
                            да им дадем лице и присъствие в дигиталното пространство.</p>

                    </div>

                </div>

                <div id="standard-auth-right-container">

                    <div id="standard-auth"><img src="/assets/images/auth-image.png"></div>

                </div>

            </div>

            <hr>

            <div id="standards-client-section">

                <div id="standards-client-text-container">

                    <div id="standards-client-text-inner-container">

                        <h3>Най-важното сте вие</h3>
                        <p>Това е най-вълнуващата част за нас! Ще изслушаме внимателно твоята концепция и заедно ще я
                            реализираме в дигитална форма – дашборд, онлайн магазин, продуктов каталог или каквото и да
                            е. Ако можеш да си го представиш - ние можем да го направим! </p>

                    </div>

                </div>

                <div id="standards-client-cards-section">

                    <div id="standards-client-background"><img src="/assets/images/client-background1.png"></div>

                    <div class="standards-client-cards-line-section">

                        <div class="standards-client-card">

                            <div class="client-card-title-section">

                                <h4>Dashboard</h4>

                            </div>

                            <img src="/assets/images/dashboard.png">

                        </div>

                        <div class="standards-client-card">

                            <div class="client-card-title-section">

                                <h4>Система за резервации</h4>

                            </div>

                            <img src="/assets/images/booking-system.png">

                        </div>

                    </div>

                    <div class="standards-client-cards-line-section">

                        <div class="standards-client-card">

                            <div class="client-card-title-section">

                                <h4>Интерактивни форми</h4>

                            </div>

                            <img src="/assets/images/interactive-forms.png">

                        </div>

                        <div class="standards-client-card">

                            <div class="client-card-title-section">

                                <h4>Акаунт мениджър</h4>

                            </div>

                            <img src="/assets/images/account-manager.png">

                        </div>

                    </div>

                </div>

            </div>


        </div>

        <hr>

    </div>
    </div>


</div>


<script>

    const modal = document.createElement("div");
    modal.classList.add("modal");
    document.body.appendChild(modal);

    const modalContent = document.createElement("div");
    modalContent.classList.add("modal-content");
    modal.appendChild(modalContent);

    const closeBtn = document.createElement("span");
    closeBtn.classList.add("standards-close-button");
    closeBtn.textContent = "×";
    modalContent.appendChild(closeBtn);

    const modalImg = document.createElement("img");
    modalImg.id = "modal-img";
    modalContent.appendChild(modalImg);

    document.querySelectorAll("#standards-section img").forEach(img => {
        img.addEventListener("click", function () {
            if (!this.src.includes("background")) {
                modal.style.display = "flex";
                modalImg.src = this.src;
                document.body.style.overflow = 'hidden';
            }
        });
    });

    closeBtn.addEventListener("click", () => {
        modal.style.display = "none";
        document.body.style.overflow = 'auto';
    });

    modal.addEventListener("click", (e) => {
        if (e.target === modal) {
            modal.style.display = "none";
            document.body.style.overflow = 'auto';
        }
    });

</script>
