<div id="actions-wrapper">

    <h1>Нека обсъдим твоя проект!</h1>

    <div id="actions-section">

        <div class="action-card">

            <div class="action-image"><img src="/assets/images/phone-contacts.png"></div>

            <p>Обади ни се</p>
            <a href="tel:+359892907007">+359892907007</a>

        </div>

        <div class="action-card">

            <div class="action-image"><img src="/assets/images/calendar1.png"></div>

            <p>Среща в нашия офис или Google Meet</p>
            
            <a href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/andon-go6ev/30min'});return false;">Запази час</a>

        </div>

    </div>

</div>
