<div id="pricing-options-wrapper">

    <div id="pricing-options-section">

        <div id="pricing-cards">

            <div class="pricing-card">

                <div class="pricing-card-title">

                    <h2>Статичен уебсайт</h2>

                </div>

                <div class="pricing-card-heading">

                    <p>Идеален за представяне на услуги, продукти и контактна информация.</p>

                </div>

                <div class="pricing-card-features">

                    <p><span>✔</span> Персонален и уникален дизайн</p>
                    <p><span>✔</span> Кратки срокове за изработка</p>
                    <p><span>✔</span> Бързина на сайта</p>
                    <p><span>✔</span> Базова SEO оптимизация</p>
                    <p><span>✔</span> Контактна форма</p>

                </div>

            </div>

            <div class="pricing-card">

                <div class="pricing-card-title">

                    <h2>Динамичен уебсайт</h2>

                </div>

                <div class="pricing-card-heading">

                    <p>За тези, които искат повече контрол и редовно обновяване на информацията.</p>

                </div>

                <div class="pricing-card-features">

                    <p><span>✔</span> Персонален и уникален дизайн</p>
                    <p><span>✔</span> Кратки срокове за изработка</p>
                    <p><span>✔</span> Бързина на сайта</p>
                    <p><span>✔</span> Базова SEO оптимизация</p>
                    <p><span>✔</span> Контактна форма</p>
                    <p><span>✔</span> Админ панел</p>
                    <p><span>✔</span> Галерия (снимки/видеа)</p>
                    <p><span>✔</span> Ще можете автоматично да добавяте снимки и контент</p>

                </div>

            </div>

            <div class="pricing-card">

                <div class="pricing-card-title">

                    <h2>Индивидуален</h2>

                </div>

                <div class="pricing-card-heading">

                    <p>Персонализирани уеб решения за бизнеси с конкретни цели и изисквания.</p>

                </div>

                <div class="pricing-card-features">

                    <p><span>✔</span> Поддръжка</p>
                    <p><span>✔</span> Dashboard</p>
                    <p><span>✔</span> Онлайн магазин</p>
                    <p><span>✔</span> Онлайн плащания</p>
                    <p><span>✔</span> Уеб приложения</p>
                    <p><span>✔</span> Разширена SEO оптимизация</p>

                </div>

            </div>

        </div>

    </div>

</div>
