<div id="pricing-hero-wrapper">

    <div class="container-custom">
    <div id="pricing-hero-container">

        <div id="pricing-hero-left-container">

            <div id="pricing-heading-container">

                <h1>Нашите услуги</h1>
                <p>Изберете подходящото решение за развитието на вашия бизнес.</p>

            </div>

        </div>
        
        <div id="pricing-hero-right-section">
            
            <div id="pricing-hero-image">

                <img src="/assets/images/pricing-hero1.gif">

            </div>
            
        </div>

    </div>
    </div>

</div>
