---
layout: base.njk
permalink: /contacts/message-sent-successfully/
title: Съобщение изпратено
description: Вашето съобщение беше изпратено успешно до WebStudio28.
---

<div id="message-page-wrapper">

    <div class="container-custom">
    <div id="message-page-container">

        <h1>Съобщението е изпратено успешно!</h1>

    </div>
    </div>

</div>
