#features-wrapper {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

#features-heading-section {
    font-size: 1.1em;
}

#features-cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 2em;
    overflow-x: auto;
    padding-bottom: 1.5em;
}

.feature-card {
    min-width: 15em;
    max-width: 15em;
    padding: 1em;
    min-height: 17em;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 25px;
    border: 1px solid #dfdede;
    background-color: #fff;
    gap: 1em;
}

.feature-text {
    flex-grow: 1;
}

.feature-icon-container {
    min-height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    border: 1px solid #dfdede;
}

.feature-icon {
    width: 5em;
    height: 5em;
}

.feature-icon img {
    width: 100%;
    height: 100%;
}


@media (max-width: 570px) {

    /*#features-wrapper::after {*/
    /*    display: flex;*/
    /*    content: "";*/
    /*    min-height: 30px;*/
    /*    !*background-color: #F18B5D;*!*/
    /*    background-image: url("/static/images/divider.png");*/
    /*    background-position: center;*/
    /*    background-size: contain;*/
    /*    opacity: 0.8;*/
    /*    background-repeat: no-repeat;*/
    /*    margin-top: 2em;*/
    /*    width: 100%;*/
    /*}*/

}