#testimonials {
    background: #F4F4F4;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    border-radius: 25px;
    gap: 1em;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
}

#testimonials-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#testimonials-cards {
    width: 100%;
    padding: 2em 0 2em 0;
    display: flex;
    justify-content: space-evenly;
    gap: 2em;
    row-gap: 4em;
    flex-wrap: wrap;
}

.t-card {
    flex: 1 1 auto;
    min-width: 200px !important;
    max-width: 390px !important;
    min-height: 250px;
    padding: 1em;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    background-color: white;
    border-radius: 25px;
}

/*.t-profile {*/
/*    position: absolute;*/
/*    top: -10%;*/
/*    left: 10%;*/
/*    width: 50px;*/
/*    height: 50px;*/
/*    overflow: hidden;*/
/*    border-radius: 50%;*/
/*}*/

.website-link {
    color: gray;
}

.profile-img {
    vertical-align: middle;
    width: 28px;
    height: 28px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 0.3em;
}

.website-media {
    width: 100%;
    border-radius: 25px;
}

.website-media img {
    width: 100%;
    border-radius: 15px;
    transition: scale 0.3s ease;
}

.website-media img:hover {
    scale: 1.01;
}

.name-stars {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.name-stars {
    font-size: 0.9em;
}


.star-rating {
    display: flex;
    font-size: 1em;
    color: gold;
}

.star {
    cursor: pointer;
    transition: transform 0.2s;
}

#testimonials h3 {
    text-align: center;
    font-size: 1em;
}

#testimonials h3 a {
    color: #d78d5f;
}

#partydrinks-section {
    width: 100%;
    max-width: 100% !important;
    min-height: 85vh;
    padding: 1em;
    position: relative;
    display: flex;
    flex-direction: column;
}


.design-comparison-container {
    width: 100%;
    flex-grow: 1;
    min-height: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    margin-top: 1em;
}

.design-comparison-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    pointer-events: none;
}

.image-after {
    clip-path: inset(0 0 0 50%);
}

.image-before {
    clip-path: inset(0 50% 0 0);
}

.slider-bar {
    position: absolute;
    top: 0;
    left: 50%;
    width: 4px;
    height: 100%;
    background-color: #d78d5f;
    cursor: ew-resize;
    transform: translateX(-50%);
    z-index: 10;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.slider-handle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid #6e7073;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-handle::before,
.slider-handle::after {
    content: '';
    position: absolute;
    border: solid #8c3f0f;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
}

.slider-handle::before {
    transform: rotate(135deg);
    left: 8px;
}

.slider-handle::after {
    transform: rotate(-45deg);
    right: 8px;
}

@media (max-width: 580px) {

    #testimonials-cards {
        padding: 2em 1em 1.5em 1em;
        font-size: 0.9em;
        gap: 1.5em;
        flex-wrap: nowrap;
        overflow-x: auto;
        justify-content: flex-start;
    }

    .t-card {
        min-width: 250px !important;
    }

}