---
layout: base.njk
permalink: /about/
title: За нас
description: Научете повече за WebStudio28 — нашата мисия, процес на работа и екип.
---

<div id="about-wrapper">

    {% include "sections/about-top.njk" %}

    {% include "sections/about-work-road.njk" %}

    {% include "sections/about-team.njk" %}

</div>
