---
layout: base.njk
permalink: /about/
title: За нас
description: Научете повече за WebStudio28 — нашата мисия, процес на работа и екип.
extraScripts:
  - https://unpkg.com/@lottiefiles/lottie-player@2.0.8/dist/lottie-player.js
---

{% include "sections/about-top.njk" %}
{% include "sections/about-work-road.njk" %}
{% include "sections/about-team.njk" %}
