---
layout: base.njk
permalink: /pricing/
title: Услуги
description: Изберете подходящото уеб решение за вашия бизнес — статичен, динамичен или индивидуален сайт.
---

<div id="pricing-wrapper">

    {% include "sections/pricing-hero.njk" %}
    
    <div id="hand-written-wrapper">

        <div class="container-custom">
        <div id="hand-written-section">
            
            <h2>Всички сайтове са написани ръчно, за да гарантираме персонален и уникален изглед!</h2>
            
        </div>
        </div>

    </div>

    {% include "sections/pricing-options.njk" %}

    {% include "sections/pricing-actions.njk" %}

</div>
